{% extends "blog/base.html" %}
{% load static%}
{% block content %}
    <h1> <i class="fa-solid fa-icons"></i> About page</h1>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <div class="about-container">
        <p>
            At Tech for Non-Techies, we believe in creating a safe and inclusive space for everyone, whether you're a tech enthusiast or just starting your journey in the world of technology. Our community is dedicated to sharing information, tips, and topics that matter to you. Here, you can ask questions about new technologies, find relevant information about the latest advancements, and connect with like-minded individuals.
        </p>
        <p>
            Join us as we explore the ever-evolving tech landscape together. Whether you're looking to learn, share, or simply stay updated, Tech for Non-Techies is your go-to resource for all things tech. Let's make technology accessible and enjoyable for everyone!
        </p>
    </div>
{% endblock content %}